/* ==================
	General Styles
=================== */

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

p {
	color: #333;
	font-size: .875em;
}

h2 {
	font-size: 1.625em;
	color: #0a883b;
	border: 2px solid #0a883b;
	padding: 5px 0;
}

h2.introlead {
	border: none;
}

#active {
	color: #fff;
}

/* ==================
	Header
=================== */

.headerlogo a {
	display: block;
	width: 306px;
	height: 154px;
	background: url(../images/logo.gif);
	text-indent: -9999px;
	float: left;
	margin: -10px 0 10px -20px;
}

.headerspices {
	display: block;
	width: 361px;
	height: 154px;
	background: url(../images/headerspices.jpg);
	float: right;
}



/* ==================
	CLEARFIX
=================== */

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}



/* ==================
	Top Nav
=================== */

.topnav {
	background-color: #C1E492;
	padding: 0.625em 0;
	margin: 0;
}

.topnav li {
	list-style: none;
	display: inline;
	padding-right: 50px;
}

.topnav a {
	color: #006D36;
	text-decoration: none;
	font-weight: bold;
	font-size: 0.875em;
}

.topnav a:hover {
	color: #fff;
}

ul {
	padding: 0;
}



/* ==================
	Intro CTA
=================== */

.introlead {
	font-size: 2.175em;
	color: #fff;
	margin: 0;
	text-shadow: 2px 2px #000;
	letter-spacing: 0.9px;
}

.leadcontainer {
	width: 340px;
	height: 105px;
	margin: 0 0 0 5px;
	padding: 30px 0 0;
}

.introtext {
	font-size: 0.875em;
	line-height: 1.3;
	word-spacing: 2px;
	margin-bottom: 0;
}

.introspace {
	margin: 0 0 20px 0;
}

.introcontainer {
	width: 405px;
	height: 150px;
	margin: 0;
	padding: 0;
}

.whitebox {
	background-color: #fff;
	padding: 15px 10px 20px 15px;
	margin: 0 0 0 5px;
}

.introbg {
	width: 100%;
	height: 380px;
	background: url(../images/homespices.jpg) no-repeat;
	background-size: 100%;
}



/* =================================================
					Home Page
==================================================== */

/* ==================
	Home Main
=================== */

.maincontent h3 {
	color: #035F29;
	font-size: 1.25em;
}

h4 a {
	color: #0a843b;
}

h4 a:visited {
	color: #0a843b;
}

.news, .featured {
	width: 400px;
	float: left;
}

.maincontent {
	padding: 65px 0;
}

.news h4 {
	border: none;
	margin: 10px 0;
}

.news h4 {
	text-align: left;
}

.featured img {
	float: left;
	margin: 0 30px 5px 0;
}



/* =================================================
					About Us Page
==================================================== */

/* ==================
	Internal Nav
=================== */

.internalnav a {
	text-decoration: none;
	color: #fff;
	font-size: 1.25em;
	padding: 8px 12px;
	background: #0a843b;
	border-radius: 5px;
	border: 2px solid #fff;
	float: left;
	width: 30%;
	margin-right: 5px;
}

.internalnav a:hover {
	color: #0a843b;
	background: #fff;
	border: 2px solid #0a843b;
}

.internalnav li {
	list-style: none;
	display: inline;
	text-align: center;
}

.internalnav li:nth-child(3) a {
	margin-right: 0;
}

.internalnav {
	background-color: #C1E492;
	padding: 20px;
}

/* ==================
	All Spiced Up
=================== */

h2 {
	text-align: center;
	margin: 0 0 30px 0;
}

h4 {
	text-align: center;
	font-size: 1.125em;
	color: #0a883b;
	border-bottom: 2px dashed #0a843b;
	padding-bottom: 5px;
}

a[href="#top"] {
	display: block;
	text-decoration: none;
	color: #0a843b;
	font-size: .75em;
	padding: 4px 0;
	background: #C1E492;
	border-radius: 5px;
	border: 2px solid #0a883b;
	margin: 30px auto;
	text-align: center;
	width: 100px;
}

a[href="#top"]:hover {
	color: #C1E492;
	background: #0a883b;
	border: 2px solid #C1E492;
}


/* ==================
  	About our Spices
===================== */

.textcontainer p {
	font-size: 1.125em;
	line-height: 1.3;
	text-indent: 50px;
}

.textcontainer {
	width: 700px;
	margin: 30px auto;
}

.contentmargin {
	margin: 50px auto;
}

.subcontent {
	width: 700px;
	margin: 30px auto;
}

.subcontent p {
	font-size: 1em;
	line-height: 1.5;
	text-indent: 50px;
}

.teamlist {
	margin: 0 auto;
}

.teamlist li {
	list-style: none;
	font-size: 1.25em;
	float: left;
	width: 25%;
}

.teamlist li:nth-child(odd) {
	color: #006D36;
	font-size: 1.375em;
	font-weight: bold;
	margin-right: -60px;
}

.teamlist li:nth-child(even) {
	margin-bottom: 20px;
	font-size: .875em;
	margin-right: 50px;
	margin-top: 7px;
}



/* =================================================
				Contact Us Page
==================================================== */

.contactusheader {
	margin: 0;
	padding: 10px 0;
}

/* ==================
	Form
=================== */

form {
	background-color: #C1E492;
	margin: 0;
	padding: 20px 0;
}

fieldset {
	border: none;
	width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f5f5f5;
	border-radius: 20px;
	border: 2px solid #ccc;
}

legend {
	text-align: center;
	color: darkgreen;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 7px;
	background-color: #eee;
}

label {
	display: block;
	color: #006D36;
	font-weight: bold;
	margin: 10px 0;
}

#name, #address, #city, #state, #zip, #email, #share, #chef, #cook, #spice {
	line-height: 1.5;
	width: 300px;
	font-size: 1em;
	margin-bottom: 5px;
}

#share {
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 5px;
}

#experiencelabel {
	font-weight: bold;
	display: block;
}

.formrow {
	float: left;
}

.formrow label {
	float: left;
	font-weight: normal;
}

.formrow input {
	margin: 10px;
}

/* ==================
	Form Buttons
=================== */

.buttons {
	margin: 10px 0 0 0;
}

.buttons input {
	color: #fff;
	font-size: 0.75em;
	padding: 6px 10px;
	background: #0a843b;
	border-radius: 20px;
	border: 2px solid #fff;
	margin-right: 5px;
}

.buttons input:hover {
	color: #0a843b;
	background: #fff;
	border: 2px solid #0a843b;
}

select {
	padding: 5px;
}

option {
	font-size: 1.5em;
}

#share {
	height: 100px;
}

label[for="newsletter"] {
	display: inline-block;
}



/* =================================================
				Locations Page
==================================================== */

#locations h3 {
	text-align: center;
	font-size: 1.375em;
	color: #0a883b;
	border-bottom: 2px dashed #0a843b;
	padding-bottom: 5px;
}

#locations h4 {
	display: inline;
	font-size: 1.25em;
	color: darkgreen;
	text-align: left;
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 1px solid darkgreen;
}

#locations a {
	color: #0a883b;
}

#locations a:hover {
	color: lightgreen;
}

#locations li {
	list-style: none;
}

#locations p {
	font-size: 1.125em;
	line-height: 1.3;
	text-indent: 50px;
}

#locations {
	width: 700px;
	margin: 30px auto;
}

/* =================================================
				Products Page
==================================================== */

/* ==================
	Products Table
=================== */

#productsTable img {
	border-radius: 15px;
	border: 2px solid #000;
}

#productsTable, th, td {
	border: 1px solid #000;
	padding: 5px;
}

#productsTable {
	background-color: tomato;
	color: #222;
}

#productsTable th {
	background-color: #006D36;
	color: #fff;
}

#productsTable td {
	background-color: #C1E492;
	color: #222;
	padding: 5px;
}

.price {
	font-style: italic;
}



/* ==================
	Footer
=================== */

footer {
	background-color: #006D36;
	padding: 1.5em 0;
}

footer p {
	color: #fff;
	font-size: 0.75em;
	margin: 0;
	padding: 0;
}



/* ==================
	Site Container
=================== */

.sitecontainer {
	width: 1280px;
	margin: 0 auto;
}



/* ==================
	960 Grid
=================== */

.maincontainer {
	width: 960px;
	margin: 0 auto;
}







